html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    font-weight: normal;
    font-size: 36px;
    margin-top: 0;
  }

h2 {
    font-weight: normal;
    font-size: 24px;
}

h3 {
    font-weight: normal;
    font-size: 16px;
}

a {
    text-decoration: none;
    color: #b56536;
}

.content-img {
    border: 2px solid #000000;
    border-radius: 20px;
}

.go-up {
    color: #b56536;
    cursor: pointer;
}

.navbar, .navbar p { 
    margin-top: 0;
}

.main-menu a, .main-menu span {
margin-right: 10px;    
}