html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    font-weight: normal;
    font-size: 36px;
}

h2 {
    font-weight: normal;
    font-size: 24px;
}

h3 {
    font-weight: normal;
    font-size: 16px;
}

a {
    text-decoration: none;
    color: #b56536;
}

.content-img {
    border: 2px solid #b56536;
    border-radius: 10px;
}